<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Huffman Coding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/huffman.css">
    <link rel="shortcut icon" href="">
  </head>

  <body>
    <div id='main'>
      <div class="row">
        <div class="col m8 push-m2">
          <div id="main-paper" class="card-panel z-depth-4">
            <div class="card-panel red lighten-2" hidden=True id="p-sum-error">Please ensure that your p values add up to 1</div>
            <form action="javascript:onFormSubmit();" id="mainform" method="post" name="mainform">
              <span id="pInputForm">
                <div class="row" id="row_id_0">
                  <input class="col s3" type="text" name="symbol_0" id="symbol_0" placeholder="Symbol" required="required">
                  <input class="col s4 offset-s1" type="number" name="p_0" id="p_0" step="0.00001" placeholder="P-Value" required="required" min="0" max="1">
                </div>
              </span>
              <button type="button" class="btn" onclick="addInput()">+</button>
              <p></p><button type="submit" class="btn" value="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/huffman.js') }}"></script>

  </body>
</html>
