<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Huffman Coding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/huffman.css">
    <link rel="shortcut icon" href="">
  </head>

  <body>
    <div id='main'>
      <div class="row">
        <div class="col s4 push-s4">
          <div id="main-paper" class="card-panel z-depth-4">
            <form action="/calculate" id="mainform" method="post" name="mainform">
              <span id="pInputForm">
                <div class="row" id="row_id_1">
                  <input class="col s6" type="text" name="symbol_0" id="symbol_0" placeholder="Symbol">
                  <input class="col s5 offset-s1" type="number" name="p_0" step="0.00001" placeholder="P-Value">
                </div>
              </span>
              <button type="button" onclick="addInput()">+</button>
              <p></p><button type="submit" value="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/huffman.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  </body>
</html>
