<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Huffman Coding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles/huffman.css">
    <link rel="shortcut icon" href="">
  </head>

  <body>
    <div id='main'>
      <div class="section no-pad-bot teal lighten-2 white-text z-depth-1" id="index-banner">
        <div class="container">
          <h1 class="header center-on-small-only">Huffman Code Generator</h1>
          <div class="row center">
            <h4 class="header col s12 light center">An application for generating Huffman codes for a given system of symbols and probabilities</h4>
          </div>
          <br>
        </div>
      </div>
      <div class="section">
        <div id="main-paper" class="container">
          <div class="card-panel red lighten-2" hidden=True id="p-sum-error">Please ensure that your p values add up to 1</div>
          <div class="row">
          <form action="javascript:onFormSubmit();" id="mainform" method="post" name="mainform">
            <span id="pInputForm">
              <div class="row" id="row_id_0">
                <input class="col s3 offset-s1" type="text" name="symbol_0" id="symbol_0" placeholder="Symbol" required="required">
                <input class="col s3 offset-s1" type="number" name="p_0" id="p_0" step="any" placeholder="P-Value" required="required" min="0" max="1">
              </div>
            </span>
            <div class="col offset-s1">
              <a onclick="addInput()" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
            </div>
            <button type="submit" class="btn col s10 offset-s1" style="margin-top: 20px" value="Submit">Generate Codes</button>
          </form>
        </div>
        </div>
      </div>
    </div>

    <div id="result-modal" class="modal">
      <div class="modal-content">
        <h4>Huffman Code Results</h4>
        <div class="container">
          <div class="row">
            <div class="col s6">
              The entropy of the entered system is:
              <span id="entropy-container"></span>
            </div>
            <div class="col s6">
              The average code length of the system returned is:
              <span id="average-length-container"></span>
            </div>
          </div>
          <div id="results-container"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/huffman.js') }}"></script>

  </body>
</html>
